@model cepdiWebApp.Models.ViewModels.Medicamento


@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Medicamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IIDMEDICAMENTO" />
            <div class="form-group">
                <label asp-for="IIDMEDICAMENTO" class="control-label"></label>
                <input asp-for="IIDMEDICAMENTO" class="form-control" readonly />
                <span asp-validation-for="IIDMEDICAMENTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOMBRE" class="control-label"></label>
                <input asp-for="NOMBRE" class="form-control" />
                <span asp-validation-for="NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONCENTRACION" class="control-label"></label>
                <input asp-for="CONCENTRACION" class="form-control" />
                <span asp-validation-for="CONCENTRACION" class="text-danger"></span>
            </div>@*

            <div class="form-group">
                <label asp-for="IIDFORMAFARMACEUTICA" class="control-label"></label>
                <input asp-for="IIDFORMAFARMACEUTICA" class="form-control" />
                <span asp-validation-for="IIDFORMAFARMACEUTICA" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label class="control-label">SELECCIONE</label>
                @Html.DropDownList("FormasFarmaceuticas", null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="PRECIO" class="control-label"></label>
                <input asp-for="PRECIO" class="form-control" />
                <span asp-validation-for="PRECIO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="STOCK" class="control-label"></label>
                <input asp-for="STOCK" class="form-control" />
                <span asp-validation-for="STOCK" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PRESENTACION" class="control-label"></label>
                <input asp-for="PRESENTACION" class="form-control" />
                <span asp-validation-for="PRESENTACION" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BHABILITADO" class="control-label"></label>
                <input type="checkbox" asp-for="BHABILITADO" />
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}